*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
}
body{
    font-family:'Roboto',san-serif;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  #result{
   text-align: right;
   padding: 5px;
   border-radius: 10px;
   font-size: large;
  }
 
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .search-container{
    position: relative;
    /* border: .25rem solid tomato; */
    bottom: 0;
    width: 100%;
    /* max-width: 40vh; */
    margin: auto;
    height: 96vh;
    border: 2px solid rgb(161, 158, 158);
    /* box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1); */
  }
  .heading{
    position: absolute;
    margin-top: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    background-color: #007BFF;
    padding: 1rem;
    color: white;
  }
  .dialogue {
    position: relative;
    top: 3rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Change to hidden */
    height: 68vh;
    /* border: .25rem solid rgb(157, 157, 157); */
}
.dialogue::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
}
.words{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    border-bottom: .01rem solid grey;
}
.action-btns{
    position: absolute;
    padding: 0 .25rem .25rem;
    /* border: .25rem solid rgb(157, 157, 157); */
    /* border-radius: 1rem; */
    left: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

 /* Add animation to the record button */
 @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.listening {
  animation: pulse 1s infinite;
}

.listening::before {
  content: "Listening...";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
